<div class="section">
  <div class="header d-flex justify-content-between align-content-center flex-wrap">
    <div class="title">
      <h5>إحصائيات إستخدام القسيمة</h5>
      <p>05 يوليو , 2023 - 05 أغسطس , 2023 <i class="fa-solid fa-chevron-down"></i></p>
    </div>
    <div class="filter">
      <button class="rounded px-2 py-1">
        <span>سنويا</span>
        <i class="fa-solid fa-chevron-down ps-2"></i>
      </button>
    </div>
  </div>
  <p-chart type="line" [data]="data" [options]="options"></p-chart>
</div>
