<div class="ticketTable my-5">
  <div class="header d-flex justify-content-between align-items-center flex-wrap">
    <div class="rightSide d-flex gap-3 flex-wrap">

      <h5 class="m-0 d-flex align-items-center flex-wrap">مبيعات التذاكر</h5>
      <span class="p-input-icon-left">
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input type="text" class="p-inputtext-sm searchInput" pInputText placeholder="بحث عن..." />
        </span>
      </span>

      <span class="rounded bg-white button px-3 border-secondary d-flex align-items-center flex-wrap filterIcon">
        <i class="pi pi-sliders-h text-secondary"></i>
      </span>
      <span class="rounded bg-white button px-3 border-secondary d-flex align-items-center flex-wrap sortIcon">
        <i class="pi pi-sort-alt text-secondary"></i>
      </span>
    </div>
    <div class="leftSide d-flex align-items-center gap-2 flex-wrap">
      <div class="icon">
        <i class="fa-solid fa-toggle-on"></i>
      </div>

      <p>مفعلة</p>

      <div class="reserveBtn py-2 px-3 rounded">
        حجز تذكرة جديدة
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <p-table #dt [value]="tickets" [(selection)]="selectedTickets" dataKey="id" [rowHover]="true" [rows]="10"
      [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 30]" [loading]="loading" [paginator]="true"
      currentPageReportTemplate="عرض {first} ل {last} من اصل {totalRecords}">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:3rem" class="text-center">
            #
          </th>
          <th style="min-width: 14rem" class="text-center">
            <div class="flex justify-content-center align-items-center">
              المستخدم
            </div>
          </th>
          <th style="min-width: 10rem" class="text-center">
            <div class="flex justify-content-center align-items-center">
              رقم التذكرة
            </div>
          </th>
          <th pSortableColumn="ticket.price" style="min-width: 10rem" class="text-center">
            <div class="flex justify-content-center align-items-center">
              قيمة التذكرة
              <p-sortIcon field="ticket.price"></p-sortIcon>
            </div>
          </th>
          <th style="min-width: 16rem" class="text-center">
            <div class="flex justify-content-center align-items-center">
              السينمات
            </div>
          </th>
          <th style="min-width: 8rem" class="text-center">
            <div class="flex justify-content-center align-items-center">
              عدد الاشخاص
            </div>
          </th>
          <th style="min-width: 10rem" class="text-center">
            <div class="flex justify-content-center align-items-center">
              عدد مرات الشراء
            </div>
          </th>
          <th style="min-width: 14rem" class="text-center">
            <div class="flex justify-content-center align-items-center">
              التذكرة
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticket>
        <tr class="p-selectable-row">
          <td>{{ticket.id}}</td>
          <td class="text-center">
            <span class="p-column-title">الاسم</span>
            <div class="row">
              <div class="col-md-3">
                <img [alt]="ticket.ticket.ticketName"
                  src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ ticket.user.image }}" width="32"
                  style="vertical-align: middle" />
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12">
                    {{ ticket.user.name }}
                  </div>
                  <div class="col-md-12">
                    {{ ticket.user.phone }}
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class="text-center">
            <span class="p-column-title">رقم التذكرة</span>
            {{ ticket.ticket.ticketName }}
          </td>
          <td class="text-center">
            <span class="p-column-title">قيمة التذكرة</span>
            <span class="ml-1 vertical-align-middle">{{ ticket.ticket.price | currency: 'USD':'symbol' }}</span>
          </td>
          <td class="text-center">
            <span class="p-column-title">السينمات</span>
            <span>
              {{ ticket.cinema }}
            </span>
          </td>
          <td class="text-center">
            <span class="p-column-title">عدد الأشخاص</span>
            {{ ticket.noOfPersons }}
          </td>
          <td class="text-center">
            <span class="p-column-title">عدد مرات الشراء</span>
            {{ ticket.noOfPurchases }}
          </td>
          <td class="text-center">
            <span class="p-column-title">التذكرة</span>
            <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap">
              {{ ticket.ticket.theTicket }}
              <i class="fa-solid fa-download p-2 border border-3 rounded"
                style="border-color: #8A74F9; color: #8A74F9;"></i>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No customers found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
